@layer components {
  html body [data-component="card-collapsable"] {
    & > summary {
      cursor: pointer;
      list-style-type: none;
    }

    & > summary::-webkit-details-marker {
      display: none;
    }

    [data-arrow] {
      transform: rotate(-90deg);
      @apply transition-all duration-150;
    }

    &[open] [data-arrow] {
      transform: rotate(0deg);
    }
  }
}
